<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="box" id="heading">
        <!-- div to display current date-->
        <h1> <%= kindOfDay %> </h1>
    </div>

    <div class="box">

        <% newListItems.forEach(function(item){ %>
        <!--div that displays all current list items-->
        <form action="/delete" method="POST">
            <div class="item">
                <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%= item._id %>">
                <p> <%=item.name%> </p>
            </div>
            <input type="hidden" name="listName" value="<%= kindOfDay %>"></input>
        </form>
        <% }) %>

        <form action="/" method="POST">
            <!--div to display input box and button-->
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="button" value="<%= kindOfDay %>">+</button>
        </form>

    </div>

</body>

</html>